body{
    background-color: rgb(30, 31, 31);
    font-family:Georgia, 'Times New Roman', Times, serif
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.row1{
    display: flex;
    width: 100%;  
    justify-content: center;
}

.meetings:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.members:hover{
    transform: scale(0.9);
    cursor: pointer;
}
.findbook:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.header h1{
    color:antiquewhite;
    
}

.header h2{
    color:antiquewhite;
}

.row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 75%;

}
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input{
    width: 200px;
    height: 30px;
}

.search button{
    outline: none;
    border: none;
    width: 150px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    margin-top: 10px;
}
.search button:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.container  {
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 0.5fr));
    box-sizing: border-box;
    justify-items: center;
    margin-top: 100px;
}

.card{
    background-color: rgb(234, 234, 234);
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.membercard{
    background-color: rgb(30, 31, 31);
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.membercard .title{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card:hover{
    transform: scale(0.9);
    background-color: rgb(102, 100, 98);
    cursor: pointer;
}

.card img{
   width: 100%;
   height: 250px;
   border-radius: 1rem 1rem 0 0; 
}

.membercard img{
    width: 100%;
    height: 150px;
    border-radius: 50%; 
 }

.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1));
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-inner{
    background-color: rgb(234, 234, 234);
    width: 700px;
    height: 90%;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1rem;
    border-radius: 0%;
}
.overlay-inner .close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}

.overlay-inner .close:hover{
    transform: scale(0.9);
    cursor: pointer;
}


.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: green;
}
.overlay-inner .inner-box h4{
    color: blue;
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}

.overlay-inner .inner-box button:hover{
    transform: scale(0.9);
    background-color: blue;
    cursor: pointer;
}

.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 15px;
}

.addmember{
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


.addmember button{
    outline: none;
    border: none;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(45, 45, 148);
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    margin-top: 10px;
}
.addmember button:hover{
    cursor:pointer;
    transform: scale(0.9);

}
.inner-box-add{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.inner-box-add input{
width: 40%;
height: 20px;
margin: 10px;
}
.overlay-inner-add{
    background-color: rgb(234, 234, 234);
    width: 50%;
    height: 60%;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1rem;
    border-radius: 0%;
}

.inner-box-add p{
 color: rgb(28, 122, 28);
    }

.meetingcard{
    background-color: rgb(30, 31, 31);
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 15px;
    color: antiquewhite;
}
.bottom-book{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.bottom-book .bottom-button{
    outline: none;
    border: none;
    width: 250px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    margin-top: 15px;
}

.bottom-button:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
  









